header{
	height: 120px;
	width: 100%;
	overflow: hidden;
	color: #e93b3b;
	line-height: 120px;
	text-align: center;
	font-size: 32px;
	position: relative;
}
header h2{
	display: inline-block;
	position: relative;
	z-index: 2;
	text-shadow:6px 6px 3px #ccc;
}
header h2:hover{
	/*font-size: 36px;*/
}
.bg{
	height: 120px;
	width: 1920px;
	position: absolute;
	top: 0;
	left: 0;
	background: -webkit-linear-gradient(left, #c8faff, #f6ebd4, #c8faff);
	background: -moz-linear-gradient(left, #c8faff, #f6ebd4, #c8faff);
    background-position: 0 0;
	-webkit-animation: nav 2s linear infinite;
	-moz-animation: nav 2s linear infinite;
}